/* .App {
  text-align: center;
} */

.header {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  margin-top: 8px;
}

.username {
  background-color: black;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}

.username-input {
  background-color: crimson;
  padding: 10%;
}

.username-button {
  margin-top: 10px;
}

.logo {
  font-size: 125%;
}

.room {
  text-decoration: none;
  margin: 15px;
  margin-bottom: 30px;
  color: black;
}

.room-li {
  margin: 15px;
  margin-bottom: 30px;
}

.room-list {
  margin-left: 15px;
  /* margin-top: 30px; */
  background-color: crimson;
}

.msg {
  margin-bottom: 20px;
}

.message-text {
  background-color: white;
  /* width: 8%;
  height: 10%; */
}

.message-username {
  text-decoration: underline;
}

.message-list {
  margin-right: 15px;
  /* margin-top: 30px; */
  background-color: crimson;
}

.roomactive {
  margin: 15px;
  margin-bottom: 30px;

  color: white;
}

.new-room {
  margin-left: 15px;
  background-color: crimson;
}

.new-room-input {
  width: 80%;
}

.send-message {
  width: 100%;
  margin-right: 15px;
  /* margin-left: 15px; */
  background-color: crimson;
}
